*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#0f4c81,#0077b6);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.welcome-box{

width:500px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,.2);

}

h1{

font-size:36px;

color:#0077b6;

margin-bottom:15px;

}

h2{

margin-top:20px;

margin-bottom:15px;

}

p{

color:#555;

line-height:1.6;

}

.doctor{

width:180px;

margin:20px auto;

display:block;

}

.buttons{

margin-top:30px;

display:flex;

justify-content:center;

gap:20px;

}

button{

padding:15px 35px;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

transition:.3s;

font-weight:600;

}

button:first-child{

background:#0077b6;

color:white;

}

button:last-child{

background:#00b894;

color:white;

}

button:hover{

transform:scale(1.05);

}