body{

    font-family:Poppins,sans-serif;

    background:#f4f7fc;

    padding:40px;

}

.container{

    max-width:1000px;

    margin:auto;

}

h1{

    color:#2563EB;

    margin-bottom:30px;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

th{

    background:#2563EB;

    color:white;

    padding:15px;

}

td{

    padding:15px;

    border-bottom:1px solid #ddd;

}

tr:hover{

    background:#f8f8f8;

}