*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f4f7fb;
    padding:40px;
}

.container{

    max-width:1000px;
    margin:auto;

}

h1{

    text-align:center;
    color:#2563EB;
    margin-bottom:30px;

}

.card{

    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.card h2{

    color:#2563EB;
    margin-bottom:15px;

}

pre{

    white-space:pre-wrap;
    word-wrap:break-word;
    font-family:inherit;

}

button{

    background:#2563EB;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;

}

button:hover{

    background:#1d4ed8;

}